body {
  background-image: url("./assets/welcome-screen-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

input::placeholder {
  font-size: 15px;
}

input:focus {
  outline: none;
}
